#content {
    width: 1000px;
    margin: 0px auto;
}
/* BODY */
#body {
    padding: 3px 10px 0px 0px;
    background-image: linear-gradient(#f0f0f0 1%, white 30%);
}
#body-sidebar {
    margin: 10px 30px 0px 5px;
    width: 25%;
}
.sidebar-box {
    padding: 20px 0px;
    border-bottom: 1px #c2c2c2 solid;
}
#body-main {
    width: 70.5%;
}
.body-image {
    width: 300px;
}
/* DOJO AD */
#dojo-ad {
    margin: 20px 0px;
    padding: 20px;
    height: 320px;
    background-image: url("img/ad_background.png");
    background-size: 500px auto;
    background-color: #22659e;
    text-align: center;
}
#dojo-ad img {
    margin: 10px 0px 15px 0px;
}
/* BREADCRUMBS */
#breadcrumb-logo {
    width: 3%;
    padding-top: 5px;
}
#breadcrumbs {
    padding-top: 13px;
    width: 65%;
    color: #22659e;
}
/* CONTACT INFO */
#contact-logo {
    width: 6.5%;
}
.contact-text {
    font-size: 9px;
}
#contact-info {
    padding-left: 5px;
}
#phone-number {
    font-size: 24px;
    line-height: 28px;
}
/* HIGHLIGHT BOX */
#highlight-box {
    border: 3px solid #108ce2;
    margin: 20px 0px;
    padding: 15px;
}
.highlight-text {
    padding-left: 10px;
    width: 75%;
}
.highlight-image {
    width: 15%;
}
#highlight-box h4 {
    padding-top: 0px; 
}
/* FONTS */
h1, h2, h3, h4, h5, h6, p, a, span, ul, li {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(85, 85, 85);
}
p, a, ul, li {
    font-size: 14px;
    line-height: 16px;
}
h1, h4, h5, h6, #phone-number {
    font-weight: bold;
}
h3, h4, h5, h6 {
    padding-top: 15px;
}
h1 {
    font-size: 40px;
    line-height: 80px;
}
h2 {
    padding: 12px 0px 12px 15px;
    margin: -18px 0px 0px 0px;
    font-size: 26px;
    color: white;
    background-image: linear-gradient( #22659e, #3c8cd0, #22659e);
}
h3 {
    font-size: 24px;
    line-height: 27px;
    color: white
}
h4 {
    size: 20px;
    padding-bottom: 8px;
}
h5 {
    font-size: 18px;
    line-height: 21px;
}
h6 {
    line-height: 17px;
    font-size: 15px;
}
p {
    margin-bottom: 10px;
}
/* BUTTONS */
button {
    margin: 3px 0px;
    width: 230px;
    height: 35px;
    display: block;
    border-radius: 8px;
    background-image: linear-gradient(#3c8cd0 20%, #22659e);
    box-shadow: 2px 2px 7px #9f9f9f;
    border: 1px #d2cfcf solid;
    font-size: 15px;
    color: white;
}
.orange-button {
    background-image: linear-gradient(#ecb566 20%, #ef7500);
}
.lightBlue-button {
    width: 180px;
    margin: 3px auto;
    background-image: linear-gradient(#57ccde 20%, #01bddb);
}
/* LINKS */
a, #phone-number {
    color: #01c0df;
}
a {
    text-decoration: none;
}
/* IMAGES */
img {
    margin: 0px auto;
}
ul, ol {
    margin-left: 45px;
}
ul {
    list-style-type: disc;
}
ol {
    list-style-type: decimal;
}
li {
    padding: 4px 0px 4px 4px;
}
/* STYLES */
.inline-block {
    display: inline-block;
}
.block {
    display: block;
}
.white-background {
    background-color: white;
}
.blue {
    color: #22659e;
}
.vert-top {
    vertical-align: top;
}