#content {
    width: 1000px;
    margin: 0px auto;
}
#header {
    height: 100px;
    width: 100%;
}
#body {
    padding: 3px 10px 0px 0px;
    background-image: linear-gradient(#f0f0f0 1%, white 30%);
}
#body-sidebar {
    margin: 10px 30px 0px 5px;
    width: 25%;
}
#body-main {
    background-color: green;
    width: 70.5%;
}
#body-sidebar, #body-main {
    display: inline-block;
    vertical-align: top;
}
#dojo-ad {
    margin: 20px 0px;
    padding: 20px;
    height: 320px;
    background-image: url("img/ad_background.png");
    background-size: 500px auto;
    background-color: #22659e;
    text-align: center;
}
#dojo-ad img {
    margin: 10px 0px 15px 0px;
}
h1, h2, h3, h4, h5, h6, p {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(85, 85, 85);
}
h1, h4, h5, h6 {
    font-weight: bold;
}
h3, h4, h5, h6 {
    padding-top: 15px;
}
h1 {
    vertical-align: top;
    font-size: 40px;
    line-height: 80px;
}
h2 {
    padding: 12px 0px 12px 15px;
    margin: -18px 0px 0px 0px;
    font-size: 26px;
    color: white;
    background-image: linear-gradient( #22659e, #3c8cd0, #22659e);
}
h3 {
    font-size: 24px;
    line-height: 27px;
}
h5 {
    font-size: 18px;
    line-height: 21px;
}
h6 {
    line-height: 17px;
}
button, h3 {
    color: white;
}
button, h6 {
    font-size: 15px;
}
button {
    margin: 3px 0px;
    width: 230px;
    height: 35px;
    display: block;
    border-radius: 8px;
    background-image: linear-gradient(#3c8cd0 20%, #22659e);
    box-shadow: 2px 2px 7px #9f9f9f;
    border: 1px #d2cfcf solid;
}
.orange-button {
    background-image: linear-gradient(#ecb566 20%, #ef7500);
}
.lightBlue-button {
    width: 180px;
    margin: 3px auto;
    background-image: linear-gradient(#57ccde 20%, #01bddb);
}
.sidebar-box {
    padding: 20px 0px;
    border-bottom: 1px #c2c2c2 solid;
}
.inline-block {
    display: inline-block;
}
.white-background, #wrapper {
    background-color: white;
}
.blue {
    color: #22659e;
}